/**
 * Switch Language styles
 */

.switchLanguage {
  border-radius: 1rem;
  border: 2px solid gray;
  background-color: #eee;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 20rem;
  margin: 2rem;
}

.switchLanguage > button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #245580;
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  color: white;
  font-size: 120%;
  cursor: pointer;
}
